<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="header">
    <% if (user) { %>
      <a class="navbar-brand" href="/urls" style="font-family: 'Pacifico', cursive;">TinyApp</a>
    <% } else { %>
      <a class="navbar-brand" href="/logout" style="font-family: 'Pacifico', cursive;">TinyApp</a>
    <% } %>
    </div>
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls" style="font-family: 'Arapey', serif; font-size:20px; color:white">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new" style="font-family: 'Arapey', serif; font-size:20px; color:white">Create New URL</a>
      </div>
      <div class ="nav navbar-nav">
      <% if (user) { %>
        <div class="nav navbar-nav">
          <h5 class="mt-2 mr-3" style="font-family: 'Arapey' , serif; font-size:20px;color:white">Logged in as:
            <%= user.email %></h5>
          <form method="POST" action="/logout">
            <button type="submit" class="btn btn-dark">Logout</button>
          </form>
        </div>
      <% } %>
    </div>
  </nav>

  <% include ../partials/_modals %>
</header>